*{
	margin: 5px;
	padding: 8px;
	box-sizing: border-box;
}

.father{
	display: flex;
	flex-flow: column nowrap;
}


.header{
	padding: 0  10px;
	background: url("images/header.jpg") center/cover no-repeat #000;
	background-size: cover;
	display: flex;
	flex-flow: column nowrap;
	height: auto;
}

		.menu{
			display: flex;
			flex-flow: row nowrap;
			height: 60px;
			align-items: center;
		}
		.logo{
			flex: 1 10 auto;
			height: auto;
			align-items: center;
		}
		.inicio{
			flex: 1 10 auto;
			height: auto;
			align-items: center;
		}
		.rutas{
			flex: 1 10 auto;
			height: auto;
			align-items: center;
		}
		.hoteles{
			flex: 1 10 auto;
			height: auto;
			align-items: center;
		}
		.vuelos{
			flex: 1 10 auto;
			height: auto;
			align-items: center;
		}
		.contacto{
			flex: 1 10 auto;
			height: auto;
			align-items: center;
		}
		.facebook{
			flex: 1 10 auto;
			height: auto;
			align-items: center;
		}
		.x{
			flex: 1 10 auto;
			height: auto;
			align-items: center;
		}

	.banner{
		padding: 0;
		align-items: flex-end;
		background:rgba(0, 0, 0, 0.1);
		background-blend-mode: overlay;
		text-align: center;
	}
		h1{
			color: rgba(250, 128, 114, 0.7);
		}

.section{
background: #FFFFFF;
display: flex;
}
	.articles{
		background: #D8D7D7;
		flex: 2 1 auto;
		display: flex;
		flex-flow: row wrap;
	}
		.article{
			background: #F5F1F1;
			flex: 1 1 40%;
		}
		.h2{
			background: 
		}

	.aside{
		background: #D8D7D7;
		flex: 1 1 auto;
		flex-flow: row wrap;
	}
		.title{
			font-size: 11;
		}
		.something{
			justify-content: center;
		}

.footer{
	background: #FFFFFF;
	display: flex;
	justify-content: center;
	text-align: center;
}
	.foot{
		background: #D8D7D7;
		width: 100%;
	}

@media all and (max-width: 800px){
	.section{
		flex-direction: column;
	}

	.menu{
		flex-direction: column;
		height: auto;
		width: auto;
		flex: 2 1 auto;
		flex-flow: row wrap;
	}

	.aside{
		display: flex;
		justify-content: center;
	}

}	
/*ajustamos la pagina para cuando el ancho sea menor a 600 pixeles la publicidad se muestre en columna dentro del aside*/
@media all and (max-width: 600px){
	.articles{
	flex-direction: column;
	}
	.ad{
		flex-direction: column nowrap;
		flex: 1 1 100%;
	}
}